* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    margin: 0;
    padding: 0 1em;
}

main,
footer {
    max-width: 900px;
    margin: auto;
}

nav ul {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

ul.hero li a {
    color: #5e5e5e;
    background-color: #fff;
}

ul.hero li a:hover {
    color: #fff;
    background-color: #5e5e5e;
}

section {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    background-color: #E6E6E6;

}

h1,
h2 {
    text-align: center;
    font-size: 1.5em;
}

p {
    text-align: justify
}

.hero-img {
    width: 150px;
    height: auto;
    object-fit: cover;
    display: bolck;
    border-radius: 50%;
    margin: 0 auto 1em auto;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

